{% extends "base.html" %}

{% block content %}

    <h1>About the Black Metropolis Research Consortium</h1>

    <p>The Black Metropolis Research Consortium (BMRC) is a Chicago-based
membership association of libraries, universities, museums, community/arts
organizations, and other archival institutions. The BMRC’s mission is to
connect all who seek to document, share, understand and preserve Black
experiences. It is the vision of BMRC to be essential to promoting discovery,
preservation, and use of Black historical collections. Through consortial
programs, the BMRC aids in expanding broad access to its members’ holdings of
materials that document African American and African diasporic culture,
history, and politics, with a specific focus on materials relating to Chicago.
The BMRC is located at the University of Chicago, which serves as the Black
Metropolis Research Consortium’s host institution.</p>

    <p>Since its founding in 2006, the BMRC has completed two major archival
management projects making previously “hidden” collections available for
researchers, scholars, and artists. The Consortium believes that web-based
research tools provide an excellent opportunity for broadening access to unique
primary source materials held in its members’ collections.</p>

    <p>This enhanced and re-envisioned collections information portal brings
together four projects--two from the BMRC's work and two sponsored by the
University of Chicago. The BMRC Survey Initiative sought to discover materials
about Black experiences held at a variety of repositories in the Chicago area.
Survey teams visited organizations from 2009 to 2011, pored through
collections, and wrote up basic information about the collections they found,
thereby creating the core of the BMRC collections database. Building on this
work with additional funding support from the Andrew W. Mellon Foundation as
administered by the Council on Library and Information Resources (CLIR), the
Color Curtain Processing Project tackled the work of processing over 10,000
linear feet of materials and over 135 collections over a twenty-eight month
period, ending in 2013. The more comprehensive inventories and description of
these select collections was added to the database.</p>

    <p>To broaden the reach of the new Portal, two collections processing and
description projects at the BMRC's host institution, the University of Chicago,
were merged into the Portal. The Uncovering Chicago Archives Project (UNCAP)
brought new visibility to archival collections held by a collaborative group of
Chicago institutions: the Chicago Defender newspaper, the DuSable Museum of
African-American History, the Vivian G. Harsh Research Collection of
Afro-American History and Literature of the Chicago Public Library,
Northwestern University, the South Side Community Art Center, and the
University of Chicago. Some of these organizations are members of the BMRC.
Though UNCAP wasn't focused on materials relevant to the African diaspora, many
of the collections processed and included in the project were within the scope
of the BMRC portal. An earlier archival project launched in 2005 by Jacqueline
Goldsby, then Associate Professor in English Language &amp; Literature and the
College of the University of Chicago, Mapping the Stacks, was folded into the
UNCAP site in 2007. Mapping the Stacks (MTS) aimed to identify and organize
uncatalogued archival collections that chronicle Black Chicago between the
1930s and 1970s, to increase their use by researchers and the general public.
Both projects were also funded by the Andrew W. Mellon Foundation.</p>

{% endblock %}
