<!doctype html>
<html lang="en">
<head>
  <title>BMRC Portal</title>
  <link href="/css/bmrc.css" rel="stylesheet" type="text/css"/>
</head>
<body>

  <!--CONTAINER-->
  <div id="container">
    <!--HEADER-->
    <div id="header">
      <ul class="topnav">
        <li><a href="#">About</a></li>
        <li><a href="/help/">Help</a></li>
        <li><a href="/about/">BMRC</a></li>
        <li><a href="/members/">Members</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>

      <h1><a href="/">BMRC</a></h1>

      <form action="/search/" id="search_form" method="get">
        <p> 
          <input style="height: 1.5rem; width: 20rem;" id="searchterm" name="q" type="text" value="{{ search_results['q'] }}"/>
          <input style="height: 1.875rem;" type="submit" value="Search"/>
        </p>
        {% for c in search_results['collections-active'] %}
            <input name="f" type="hidden" value="{{ c[0] }}"/>
        {% endfor %}
      </form>

      <br style="clear: left;"/>

      <p id="breadcrumbs">
        {% for crumb in breadcrumbs %}
          {% if loop.last %}
              <span>{{ crumb[1] }}</span>
          {% else %}
              <span><a href="{{ crumb[0] }}">{{ crumb[1] }}</a></span> &gt;
          {% endif %}
        {% endfor %}
      </p>
    </div>
  
    <!--CONTENT-->
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  
    <!--FOOTER-->
    <div id="footer">
      <p>Fusce condimentum ultrices est, eu luctus dolor blandit non. Mauris facilsis condimentum ipsum, sit amet pulvinar dui facilsis sit amet. Donec consecetur varius dolor, eu mattis.</p>

      <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>
      <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
      </ul>
    </div>
  </div>
</body>

</html>
