{% extends "base.html" %}

{% block content %}
    <section class="section">
        <p>
            <a href="https://bmrc.lib.uchicago.edu/">Black Metropolis Research Consortium</a> /
            <a href="/">Collections Portal</a> /
            <a href="#">Current Page</a>
        </p>
    </section>

    <div class="columns">
        <div class="column is-one-quarter" style="background-color: #f5f5eb;">
            <h2>Browse</h2>
            <ul>
                {% if b == 'topics' %}
                    <li>Topics</li>
                {% else %}
                    <li><a href="/browse/?b=topics">Topics</a></li>
                {% endif %}
          
                {% if b == 'people' %}
                    <li>People</li>
                {% else %}
                    <li><a href="/browse/?b=people">People</a></li>
                {% endif %}
          
                {% if b == 'places' %}
                    <li>Places</li>
                {% else %}
                    <li><a href="/browse/?b=places">Places</a></li>
                {% endif %}
          
                {% if b == 'corpnames' %}
                    <li>Organizations</li>
                {% else %}
                    <li><a href="/browse/?b=corpnames">Organizations</a></li>
                {% endif %}
          
                {% if b == 'decades' %}
                    <li>Decades</li>
                {% else %}
                    <li><a href="/browse/?b=decades">Decades</a></li>
                {% endif %}
          
                {% if b == 'archives' %}
                    <li>Archives</li>
                {% else %}
                    <li><a href="/browse/?b=archives">Archives</a></li>
                {% endif %}
            </ul>
    
            <h2>Featured Topic</h2>
            <img src="#"/>
            <p><a href="#">Black Nurses</a></p>
            <p><a href="#">Explore all curated topics &gt;&gt;</a></p>
        </div>
        <div class="column">
            <h1>{{ title }}</h1>
            <p>Sort by: 
                {% if sort == 'relevance' %}
                    <span>Relevance</span>
                {% else %}
                    <a class="button" href="/browse/?b={{ b }}&sort=relevance">Relevance</a>
                {% endif %}
          
                {% if sort == 'alpha' %}
                    <span>A-Z &darr;</span> 
                {% else %}
                    <a class="button" href="/browse/?b={{ b }}&sort=alpha">A-Z &darr;</a> 
                {% endif %}
          
                {% if sort == 'alpha-dsc' %}
                    <span>Z-A &uarr;</span>
                {% else %}
                    <a class="button" href="/browse/?b={{ b }}&sort=alpha-dsc">Z-A &uarr;</a>
                {% endif %}
          
                <a class="button" href="/browse/?b={{ b }}&sort=shuffle">Shuffle &#128256;</a>
            </p>
        
            {# PAGER #}
            {% if total_pages > 1 %}
                <section class="section">
                    <div class="is-pulled-left">
                        <p>
                            {% for i in range(min_page_link, max_page_link + 1) %}
                                <a class="button"{% if i == page %} disabled{% endif %} href="/browse/?b={{ b }}&page={{ i }}&sort={{ sort }}">{{ i }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="is-pulled-right">
                        <a class="button"{% if page == total_pages %} disabled{% endif %} href="/browse/?b={{ b }}&page={{ page + 1 }}&sort={{ sort }}">Next page</a>
                    </div>
                </section>
            {% endif %}
        
            {# RESULTS #}
            <ul>
                {% for b in browse_results %}
                    <li><a href="/browse/{{ b[0] }}">{{ b[1] }}</a></li>
                {% endfor %}
            <ul>
        
            {# PAGER #}
            {% if total_pages > 1 %}
                <section class="section">
                    <div class="is-pulled-left">
                        <p>
                            {% for i in range(min_page_link, max_page_link + 1) %}
                                <a class="button"{% if i == page %} disabled{% endif %} href="/browse/?b={{ b }}&page={{ i }}&sort={{ sort }}">{{ i }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="is-pulled-right">
                        <a class="button"{% if page == total_pages %} disabled{% endif %} href="/browse/?b={{ b }}&page={{ page + 1 }}&sort={{ sort }}">Next page</a>
                    </div>
                </section>
            {% endif %}
        </div>
    </div>
{% endblock %}
