{% extends "base.html" %}

{% block content %}

  <div class="three_column">
    <div>
      <h2>Black Nurses in Chicago</h2>
      <p><a href="#">More Curated Topics</a></p>
    </div>
  
    <div>
      <h2>Protests &amp; Policing</h2>
      <p><a href="#">Past Exhibits</a></p>
    </div>
  
    <div>
      <h2>Englewood</h2>
    </div>
  </div>

  <div>
    <p>Find your way around the Black metropolis in Chicago and beyond, seen through the portal of primary sources, available in institutions around the Chicago area. The people, places, organizations and movements that shaped Black history and culture through the decades. Take a look at the <a href="#">Curated Topics</a> list, explore materials by facets, or a feature gateway and open the door to the archives.</p>
  </div>

  <div class="two_column_wide_narrow">
    <div>
      <h2>Member Spotlight</h2>
      <p>Fusce condimentum ultrices est, eu luctur dolor blandit non. Mauris facilsis condimentum ipsum, sit amet pulvinar dui fascilsis sit amet. Donec consectetur varius dolor, eu mattis nisi pulvinar in. Quisque eget nisi susipit nunc aliquam luctus. Proin non nunc quis urna eleefend fringilla ac ac nunc. Vivamus libero.</p>
      <p><a href="#">Current Members</a></p>
    </div>
  
    <div>
      <h2>About the BMRC</h2>
      <p>Fusce condimentum ultrices est, eu luctus dolor blandit non. Mauris facilsis condimentum ipsum, sit amet pulvinar dui facilsis sit amet, Donec.</p>
      <p><a href="#">Find out more...</a></p>
    </div>
  </div>
{% endblock %}
