{% extends "base.html" %}

{% block content %}

  <div class="two_column_wide_narrow">
    <div>
      <h2>Black Metropolis Research Consortium</h2>
      <p>document, share, understand and preserve</p>
    </div>
    <div>
      <p>The BMRC Portal is your gateway to finding unique materials on Black history and culture in Chicago and beyond...Search or browse inforamtion about collections available to you in libraries, archives, museums, and other organizations.</p>
    </div>
  </div>
  
  <p>Explore materials: <a href="#">Topics</a> <a href="#">People</a> <a href="#">Places</a> <a href="#">Organizations</a> <a href="#">Decades</a> <a href="#">Archives</a></p>

  <div class="three_column">
    <div>
      <h2>BLACK NURSES</h2>
      <p><a href="#">Learn more about this TOPIC...</a></p>
    </div>
  
    <div>
      <h2>PROTESTS and POLICING</h2>
      <p><a href="#">Explore Exhibit...</a></p>
    </div>
  
    <div>
      <h2>PLACES</h2>
      <p><a href="#">Discover related materials...</a></p>
    </div>
  </div>

  <div>
    <p>Find your way around the Black metropolis in Chicago and beyond, seen through the portal of primary sources, available in institutions around the Chicago area. The people, places, organizations and movements that shaped Black history and culture through the decades. Take a look at the <a href="#">Curated Topics</a> list, explore materials by facets, or a feature gateway and open the door to the archives.</p>
  </div>

  <div class="two_column_wide_narrow">
    <div>
      <h2>Member Spotlight</h2>
      <p>Illinois Institute of Technology - IIT</p>
       <p>One of our oldest members...</p>
    </div>
  
    <div>
      <h2>About the Black Metropolis Research Consortium</h2>
      <p>Fusce condimentum ultrices est, eu luctus dolor blandit non. Mauris facilsis condimentum ipsum, sit amet pulvinar dui facilsis sit amet, Donec.</p>
      <p><a href="#">Find out more...</a></p>
    </div>
  </div>
{% endblock %}
