{% extends "base.html" %}

{% block content %}

<h1>Consortium Members and Other Organizations</h1>

<h2>Small Title</h2>
<p>Fusce condimentum ultrices est, eu luctus dolor blandit non. Mauris faciilis condimumtum ipsum, sit amet pulvinar dui fascilis sit amet. Donec consequitor vuarious dolor, eu mattis nisi pulvilar in. Quisque eget nisi siscipit nunc aliquan luctus. Proin non numc quis uma electri fginrelina.</p>

<p>Contact Info</p>

<h2>Small Title</h2>
<p>Fusce condimentum ultrices est, eu luctus dolor blandit non. Mauris faciilis condimumtum ipsum, sit amet pulvinar dui fascilis sit amet. Donec consequitor vuarious dolor, eu mattis nisi pulvilar in. Quisque eget nisi siscipit nunc aliquan luctus. Proin non numc quis uma electri fginrelina.</p>

<p>Contact Info</p>

<h2>Small Title</h2>
<p>Fusce condimentum ultrices est, eu luctus dolor blandit non. Mauris faciilis condimumtum ipsum, sit amet pulvinar dui fascilis sit amet. Donec consequitor vuarious dolor, eu mattis nisi pulvilar in. Quisque eget nisi siscipit nunc aliquan luctus. Proin non numc quis uma electri fginrelina.</p>

<p>Contact Info</p>

<p><a href="#">See more...</a></p>

<p><a href="#">Learn morea bout becoming a MEMBER!</a></p>

{% endblock %}
