{% extends "base.html" %}
{# Wagtail-specific content #}
{# load static #}
{# load wagtailcore_tags wagtailimages_tags #}
{# / Wagtail-specific content #}

{% block body_class %}standard_page{% endblock %}

{% block content %}

<div class="container section">
    <h1>{{ title }}</h1>
    <div class="columns is-desktop">

<!-- START facets or sidebar -->
		{% if self.sidebar.all %}
	        <div class="column sidebar is-one-quarter" role="complementary">
<!-- KZ Note: This is how I have it for author-created items, which likely is not what you want for facets or the left sidebar. Leaving it in case you want to use the `aside` element. -->
	        	{% for item_set in self.sidebar.all %}
	            <aside>
	                <h2>{{ item_set.sidebar_title }}</h2>
		            {{ item_set.sidebar_text|richtext }}
	            </aside>
	            {% endfor %}
	        </div>
        {% endif %}
<!-- // END facets or sidebar -->

<!-- START page content -->        
        <div class="column">
			{% for block in page.body %}
	      		{% include_block block %}
	      	{% endfor %}
        </div>
<!-- // END page content --> 

    </div>  <!-- // END columns -->

</div>  <!-- // END container -->

{% endblock %}
