{% extends "base.html" %}

{##########}
{# MACROS #}
{##########}

{% macro facet(facet_name) %}
    {% set facet_name_active = "active-" + facet_name|lower %}
    {% set facet_name_more = "more-" + facet_name|lower %}
    {% if search_results[facet_name_active] or search_results[facet_name_more] %}
        <div class="facet">
            <h3 style="text-transform: uppercase; font-weight: bold;"><a href="/search/?b=https%3A%2F%2Fbmrc.lib.uchicago.edu%2F{{ facet_name }}%2F">{{ facet_name }}</a></h3>
            <ul>
                  {% for f in search_results[facet_name_active] %}
                      <li>{{ f[1] }} <a href="/search/?{{ remove_from_url_params(search_results, {'f': f[0]}) }}">x</a></li>
                  {% endfor %}
                  {% for f in search_results[facet_name_more] %}
                      <li><a href="/search/?{{ add_to_url_params(search_results, {'f': f[0]}) }}">{{ f[1] }} ({{ f[2] }})</a></li>
                  {% endfor %}
            </ul>
             <p><a href="#">View more {{ facet_name }} &gt;&gt;</a></p>
        </div>
    {% endif %}
{% endmacro %}

{###########}
{# CONTENT #}
{###########}

{% block content %}
    <div class="columns" id="serp_content">
        <div class="column is-one-quarter" id="facets">
            {{ facet('Topics') }}
            {{ facet('People') }}
            {{ facet('Organizations') }}
            {{ facet('Places') }}
            {{ facet('Decades') }}
            {{ facet('Archives') }}
        </div>

        <div id="search_results">
            <div id="results_header">
                {% if search_results['b'] == '' %}
                    <h1>Results 
                    {{ search_results['start'] }} 
                    to 
                    {{ search_results['stop'] }} 
                    of {{ search_results['total'] }}
                    for search '{{ search_results['q'] }}'
                    </h1>
                {% endif %}
        
                {% include "search-sort.html" %}

                {% include "search-pager.html" %}

                {% for r in search_results['results'] %}
                    <h3><strong><a href="/view/?id={{ r['uri'] }}">{{ r['title'] }}</a></h3>
                    <p>{{ r['abstract'] }}</p>
                    <p>Dates: {{ r['date'] }} | Extent: {{ r['extent'] }}<br/>
                       Archives: {{ r['archive'] }}</p>
                {% endfor %}

                {% include "search-pager.html" %}
            </div>
        </div>
    </div>
{% endblock %}
