<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157097671-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-157097671-1');
        </script>

        <meta charset="utf-8" />
        <title>
            {{ title }}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
            <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">
            <link rel="stylesheet" type="text/css" href="/static/css/style.css">
            <link rel="stylesheet" type="text/css" href="/static/css/portal.css">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div id="skip">
            <a href="#content">Skip to Main Content</a>
            <a href="#sidebar">Skip to Side Bar</a>
            <a href="#footer">Skip to Footer</a>
        </div>

        {# cache 604800 navigation #}
            <section class="section pb-0">
                <nav class="navbar is-fixed-top" role="navigation" aria-label="Main Navigation" style="background-color: #f5f5eb;">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/"><img alt="BMRC, the Black Metropolis Research Consortium" class="nav-brand" src="/static/img/BMRC-Logo.png" alt=""></a>
                        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample" onclick="toggleBurger()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
    
                    <div id="navbarExampleTransparentExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item"
                            href="https://bmrc.lib.uchicago.edu/collections/"><span
                            class="is-hidden-desktop-only">Search&nbsp;</span>Collections</a>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link" href="https://bmrc.lib.uchicago.edu/programs/">Programs</a>
                                <div class="navbar-dropdown is-boxed">
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/programs/summer-short-term-fellowship/">Summer Short-term Fellowship</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/programs/archie-motley-archival-internship-program/">Archie Motley Archival Internship Program</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/programs/color-curtain-processing-project/">Color Curtain Processing Project</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/programs/survey-initiative/">Survey Initiative</a>
                                </div>
                            </div>
                            <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/news/">News</a>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link" href="https://bmrc.lib.uchicago.edu/about/">About</a>
                                <div class="navbar-dropdown is-boxed">
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/about/">About the BMRC</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/about/membership-information/">Membership Information</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/about/membership">Current Members</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/about/board-committees/">Board &amp; Committees</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/about/staff/">Staff</a>
                                </div>
                            </div>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link" href="https://bmrc.lib.uchicago.edu/resources/">Resources</a>
                                <div class="navbar-dropdown is-boxed">
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/resources/legacy-management-resources-portal/">Legacy Management Resource Portal</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/resources/protest-archives/">Protest in the Archives</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/resources/workshops">Workshops</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/resources/jobs">Jobs and Opportunities</a>
                                </div>
                            </div> 
                            <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/contact/">Contact</a>
                            <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/news/support-bmrc/">Support Us</a>
                        </div>
    
                        <div class="navbar-end">
                            <div class="navbar-item is-search">
                                <form action="https://bmrc.lib.uchicago.edu/search" method="get">
                                        <label class="is-sr-only" for="site-search-query">Site Search</label>
                                        <input class="input control is-small" id="site-search-query" placeholder="search website" type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                                    <button type="submit" value="Search" class="button is-small"><i class="fa fa-search" aria-hidden="true" aria-label="Submit site search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </section>
        {# endcache #}

        <main id="content" role="main">
            <section class="section portal-search" style="background-color: #e5e7d2;">
                <form action="/search/" method="get">
                    <div class="field has-addons">
                        <label class="is-sr-only" for="portal-search-query">Finding Aid Search</label>
                        <input class="input control is-medium" id="portal-search-query" placeholder="search member collections" type="text" name="q"{% if search_results['q'] %} value="{{ search_results['q'] }}"{% endif %}>
                        <button type="submit" value="Search" class="button is-medium">Search</button>
                    </div>
                </form>
                <div class="search-help level-right"><a href="/help/">Research Help</a></div>
            </section>
        

            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
              <ul>
                {% for b in breadcrumbs %}
                    <li><a href="{{ b[0] }}">{{ b[1] }}</a></li>
                {% endfor %}
                <li class="is-active"><a href="#" aria-current="page">{{ title }}</a></li>
              </ul>
            </nav>

            {% block content %}{% endblock %}
        </main>

        <section class="section subfooter level">
            <div class="level-left">
                <ul>
                    <li><a href="/about/">About the Portal</a></li>
                    <li><a href="/curated/">Curated Topics</a></li>
                    <li><a href="https://bmrc.lib.uchicago.edu/news/newsletter-signup/">Newsletter Signup</a></li>
                    <li><a href="/help/">Research Help</a></li>
                </ul>
            </div>
            <div class="level-right">
                <a class="large button is-dark" href="https://bmrc.lib.uchicago.edu/news/support-bmrc/">Support the BMRC</a>
            </div>
        </section>

        <footer id="footer" class="footer" role="contentinfo">
            <div class="container">
                <div class="has-text-centered">
                    <a href="https://www.facebook.com/1BMRC"><span class="is-sr-only">Visit us on Facebook</span><i class="fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com/ChicagoBMRC"><span class="is-sr-only">Visit us on Twitter</span><i class="fab fa-twitter-square"></i></a>
                    <a href="https://instagram.com/black_metropolis/"><span class="is-sr-only">Visit us on Instagram</span><i class="fab fa-instagram"></i></a>
                </div>
                <div class="has-text-centered">
                    <div>
                        <p><a href="https://bmrc.lib.uchicago.edu/contact/">Contact</a> | <a href="https://bmrc.lib.uchicago.edu/resources/jobs/">Jobs</a></p>
                    </div>
                    <div>
                        <p>Black Metropolis Research Consortium<br/>
                        1100 E. 57th St., 2nd Floor, Room 203, Chicago, IL 60637</p>
                    </div>
                </div>
            </div>
        </footer>

        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content"></div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="/static/js/jquery/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/plugins.js"></script>
        <script type="text/javascript" src="/static/js/portal.js"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
