<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157097671-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-157097671-1');
        </script>

        <meta charset="utf-8" />
        <title>
            {{ title }}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
            <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">
            <link rel="stylesheet" type="text/css" href="/static/css/style.css">
            <link rel="stylesheet" type="text/css" href="/static/css/portal.css">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div id="skip">
            <a href="#content">Skip to Main Content</a>
            <a href="#sidebar">Skip to Side Bar</a>
            <a href="#footer">Skip to Footer</a>
        </div>

        {# cache 604800 navigation #}
            <section class="section pb-0">
                <nav class="navbar is-fixed-top" role="navigation" aria-label="Main Navigation" style="background-color: #f5f5eb;">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/"><img class="nav-brand" src="/static/img/BMRC-Logo.png" alt=""></a>
                        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample" onclick="toggleBurger()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
    
                    <div id="navbarExampleTransparentExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item"
                            href="https://bmrc.lib.uchicago.edu/collections/"><span
                            class="is-hidden-desktop-only">Search&nbsp;</span>Collections</a>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link" href="https://bmrc.lib.uchicago.edu/programs/">Programs</a>
                                <div class="navbar-dropdown is-boxed">
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/programs/summer-short-term-fellowship/">Summer Short-term Fellowship</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/programs/archie-motley-archival-internship-program/">Archie Motley Archival Internship Program</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/programs/color-curtain-processing-project/">Color Curtain Processing Project</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/programs/survey-initiative/">Survey Initiative</a>
                                </div>
                            </div>
                            <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/news/">News</a>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link" href="https://bmrc.lib.uchicago.edu/about/">About</a>
                                <div class="navbar-dropdown is-boxed">
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/about/">About the BMRC</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/about/membership-information/">Membership Information</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/about/membership">Current Members</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/about/board-committees/">Board &amp; Committees</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/about/staff/">Staff</a>
                                </div>
                            </div>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link" href="https://bmrc.lib.uchicago.edu/resources/">Resources</a>
                                <div class="navbar-dropdown is-boxed">
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/resources/legacy-management-resources-portal/">Legacy Management Resource Portal</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/resources/protest-archives/">Protest in the Archives</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/resources/workshops">Workshops</a>
                                    <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/resources/jobs">Jobs and Opportunities</a>
                                </div>
                            </div> 
                            <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/contact/">Contact</a>
                            <a class="navbar-item" href="https://bmrc.lib.uchicago.edu/news/support-bmrc/">Support Us</a>
                        </div>
    
                        <div class="navbar-end">
                            <div class="navbar-item is-search">
                                <form action="https://bmrc.lib.uchicago.edu/search" method="get">
                                        <label class="is-sr-only">Site Search</label>
                                        <input class="input control is-small" placeholder="search website" type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                                    <button type="submit" value="Search" class="button is-small"><i class="fa fa-search" aria-hidden="true" aria-label="Submit site search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </section>
        {# endcache #}

        <main id="content" role="main">
            <section class="section portal-search" style="background-color: #e5e7d2;">
                <form action="/search/" method="get">
                    <div class="field has-addons">
                        <label class="is-sr-only">Finding Aid Search</label>
                        <input class="input control is-medium" placeholder="search collections" type="text" name="q"{% if search_results['q'] %} value="{{ search_results['q'] }}"{% endif %}>
                        <button type="submit" value="Search" class="button is-medium">Search</button>
                    </div>
                </form>
                <div class="search-help level-right"><a href="/help/">Research Help</a></div>
            </section>
        

            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
              <ul>
                {% for b in breadcrumbs %}
                    <li><a href="{{ b[0] }}">{{ b[1] }}</a></li>
                {% endfor %}
                <li class="is-active"><a href="#" aria-current="page">{{ title }}</a></li>
              </ul>
            </nav>

            {% block content %}{% endblock %}
        </main>

        <section class="section subfooter level">
            <div class="level-left">
                <ul>
                    <li><a href="/about/">About the Portal</a></li>
                    <li><a href="#">Curated Topics</a></li>
                    <li><a href="https://bmrc.lib.uchicago.edu/news/newsletter-signup/">Newsletter Signup</a></li>
                    <li><a href="/help/">Research Help</a></li>
                </ul>
            </div>
            <div class="level-right">
                <a class="large button is-dark" href="https://bmrc.lib.uchicago.edu/news/support-bmrc/">Support the BMRC</a>
            </div>
        </section>

        <footer id="footer" class="footer" role="contentinfo">
            <div class="container">
                <div class="has-text-centered">
                    <a href="https://www.facebook.com/1BMRC"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com/ChicagoBMRC"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://instagram.com/black_metropolis/"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="has-text-centered">
                    <div>
                        <p><a href="https://bmrc.lib.uchicago.edu/contact/">Contact</a> | <a href="https://bmrc.lib.uchicago.edu/resources/jobs/">Jobs</a></p>
                    </div>
                    <div>
                        <p>Black Metropolis Research Consortium<br/>
                        1100 E. 57th St., 2nd Floor, Room 203, Chicago, IL 60637</p>
                    </div>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="/static/js/jquery/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/plugins.js"></script>
        <script type="text/javascript" src="/static/js/nav.js"></script>
        <script type="text/javascript" src="/static/js/active.js"></script> <!-- For Hero Slider -->

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <script type="text/javascript">

        /*************************************
         * VIEW MORE / VIEW ALL FACETS LINKS *
         *************************************/

        // get the view less and view more limits from data attributes.
        var view_less_limit = parseInt(document.getElementById('facets').dataset.sidebar_view_less_facet_count);
        var view_more_limit = parseInt(document.getElementById('facets').dataset.sidebar_view_more_facet_count);

        var facets = document.getElementsByClassName('facet');
        for (var i = 0; i < facets.length; i++) {
            var facet_name = facets[i].dataset.facet;

            var ul = facets[i].querySelector('ul');
            var lis = facets[i].querySelectorAll('li:not([view_link])');
            var lis_length = lis.length;
   
            for (var j = lis.length - 1; j >= 0; j--) {
                if (j >= view_more_limit) {
                    lis[j].parentNode.removeChild(lis[j]);
                } else if (j >= view_less_limit) {
                    lis[j].classList.add('view_more');
                    lis[j].style.display = 'none';
                }
            }

            if (lis_length > view_less_limit) {
                ul.innerHTML += '<li class="view_link"><a class="view_more_link" href="#">View more ' + facet_name + ' >></a></li>';
                ul.innerHTML += '<li class="view_link"><a class="view_less_link" href="#"><< View less ' + facet_name + '</a></li>';
                ul.querySelector('.view_less_link').parentNode.style.display = 'none';
            }
            if (lis_length > view_more_limit) {
                ul.innerHTML += '<li class="view_link"><a class="view_all_link" href="#">View all relevant ' + facet_name + ' >></a></li>';
                ul.querySelector('.view_all_link').parentNode.style.display = 'none';
            }
        }

        // view less links.
        var view_less_links = document.getElementsByClassName('view_less_link');
        for (var i = 0; i < view_less_links.length; i++) {
            view_less_links[i].onclick = function(e) {
                e.preventDefault();

                var a = this;

                var div = a.parentNode.parentNode.parentNode;

                // get the facet name, e.g. "Organizations", from link text.
                var facet_name = div.dataset.facet;

                // get the "view more" <li>s for this facet.
                var lis = a.parentNode.parentNode.querySelectorAll('li[class="view_more"]');

                // turn off view more links.
                for (var j = 0; j < lis.length; j++) {
                    lis[j].style.display = 'none';
                }

                div.querySelector('.view_less_link').parentNode.style.display = 'none';
                div.querySelector('.view_more_link').parentNode.style.display = 'block';
                div.querySelector('.view_all_link').parentNode.style.display = 'none';
            };
        }

        // view more links.
        var view_more_links = document.getElementsByClassName('view_more_link');
        for (var i = 0; i < view_more_links.length; i++) {
            view_more_links[i].onclick = function(e) {
                e.preventDefault();

                var a = this;

                var div = a.parentNode.parentNode.parentNode;

                // get the facet name, e.g. "Organizations", from link text.
                var facet_name = div.dataset.facet;

                // get the "view more" <li>s for this facet.
                var lis = a.parentNode.parentNode.querySelectorAll('li[class="view_more"]');

                // turn on view more links.
                for (var j = 0; j < lis.length; j++) {
                    lis[j].style.display = 'block';
                }

                div.querySelector('.view_less_link').parentNode.style.display = 'block';
                div.querySelector('.view_more_link').parentNode.style.display = 'none';
                div.querySelector('.view_all_link').parentNode.style.display = 'block';
            };
        }

        /****************************
         * MODAL OVERLAY FOR FACETS *
         ****************************/

        var body = document.querySelector('body');
        var overlay_bg = document.createElement('div');
        overlay_bg.id = 'facet_overlay_bg';
        body.appendChild(overlay_bg);

        var overlay = document.createElement('div');
        overlay.id = 'facet_overlay';
        overlay_bg.appendChild(overlay);
         
        var overlay_display = false; 

        var view_all_links = document.getElementsByClassName('view_all_link');
        for (var i = 0; i < view_all_links.length; i++) {
            view_all_links[i].onclick = function(e) {
                e.preventDefault();

                var a = this;

                // e.g. "people"
                var facet_name = a.parentNode.parentNode.parentNode.dataset.facet;

                document.getElementById('facet_overlay_bg').style.display = 'block';
                var xml_http = new XMLHttpRequest();
                xml_http.onreadystatechange = function() {
                    if (xml_http.readyState == 4 && xml_http.status == 200) {
                        document.getElementById('facet_overlay').innerHTML = xml_http.responseText;

                        document.getElementById('facet_overlay_close').onclick = function(e) {
                            e.preventDefault();
                            document.getElementById('facet_overlay_bg').style.display = 'none';
                            document.getElementById('facet_overlay').innerHTML = '';
                        }

                        var sort_links = document.getElementsByClassName('facet_overlay_sort');
                        for (var j = 0; j < sort_links.length; j++) {
                            sort_links[j].onclick = function(e) {
                                e.preventDefault();

                                var a = this;

                                var facet_uri = 'https://bmrc.lib.uchicago.edu/' + facet_name + '/';

                                var params = window.location.search;
                                if (params) {
                                    params += '&'
                                } else {
                                    params += '?'
                                }
                                params += 'fsort=' + encodeURIComponent(a.dataset.sort);
                                params += '&a=' + encodeURIComponent(facet_uri)

                                var url = '/facet_view_all/' + params;
                                console.log(url);
                                overlay_bg.dataset.url = url;
                                xml_http.open('GET', url);
                                xml_http.send(null);
                            }
                        }
                    }
                }
                var facet_uri = 'https://bmrc.lib.uchicago.edu/' + facet_name + '/';
                var params = window.location.search;
                if (params) {
                    params += '&a=' + encodeURIComponent(facet_uri)
                } else {
                    params = '?a=' + encodeURIComponent(facet_uri)
                }
                var url = '/facet_view_all/' + params;
                console.log(url);
                overlay_bg.dataset.url = url;
                xml_http.open('GET', url);
                xml_http.send(null);
            }
        }

        // need the x to close out the overlay.

        var sorts = document.getElementsByClassName('facet_overlay_sort');
        for (var i = 0; i < sorts.length; i++) {
            sorts[i].onclick = function(e) {
                e.preventDefault();

                // get the sort url from the overlay_bg.
                // request the data from 
            }
        }

        </script>

    </body>
</html>
