{% extends "base.html" %}

{% block content %}
<div class="container section browse-view">
    <div class="columns is-variable is-8">
        <div class="column is-one-quarter browse-sidebar">
            <h2>Browse</h2>
            <ul>
                <li><a href="/browse/?b=topics">Topics</a></li>
                <li><a href="/browse/?b=people">People</a></li>
                <li><a href="/browse/?b=places">Places</a></li>
                <li><a href="/browse/?b=organizations">Organizations</a></li>
                <li><a href="/browse/?b=decades">Decades</a></li>
                <li><a href="/browse/?b=archives">Archives</a></li>
            </ul>
    
            <h2>Featured Topic</h2>
            <img class="is-hidden-mobile" src="/static/img/curated_topics/black_studies.jpg"/>
            <p><a href="/curated/black-studies">Black Studies</a></p>
            <p><a href="/curated/">Explore all curated topics &gt;&gt;</a></p>
        </div>
        <div class="column">
            <h1>{{ title }}</h1>
            <div class="topic_image">
                <img src="/static{{ curated_topic['img_src'] }}"/>
                <p>{{ curated_topic['img_caption'] }}</p>
            </div>

            <p>{{ curated_topic['introductory_text'] }}</p>

            {% if curated_topic['byline'] %}
                <p class="byline">— {{ curated_topic['byline'] }}</p>
            {% endif %}

            <p><a href="{{ curated_topic['search_url'] }}">View search results for this topic  &gt;&gt;</a></p>
            <p><a href="/curated/">Explore all curated topics &gt;&gt;</a></p>
            <p>The BMRC Curated Topics list was created to serve as a subject expert lorum ipsum.</p>
        </div>
    </div> 
</div>

{% endblock %}
