{% extends "base.html" %}

{% block content %}

<h1>Make the most of your Portal exploration</h1>

<h2>Small Title</h2>
<p>Fusce condimentum ultrices est, eu luctus dolor blandit non. Mauris faciilis condimumtum ipsum, sit amet pulvinar dui fascilis sit amet. Donec consequitor vuarious dolor, eu mattis nisi pulvilar in. Quisque eget nisi siscipit nunc aliquan luctus. Proin non numc quis uma electri fginrelina.</p>

<h2>Small Title</h2>
<p>Fusce condimentum ultrices est, eu luctus dolor blandit non. Mauris faciilis condimumtum ipsum, sit amet pulvinar dui fascilis sit amet. Donec consequitor vuarious dolor, eu mattis nisi pulvilar in. Quisque eget nisi siscipit nunc aliquan luctus. Proin non numc quis uma electri fginrelina.</p>

<p><a href="#">Email us your question</a></p>

{% endblock %}
