{% extends "base.html" %}

{% block content %}
<div class="container">

    <section class="featured-browse section">
      <div class="home-header">Browse by</div>
      <ul>
          <li><a href="/browse/?b=topics">Topics</a></li>
          <li><a href="/browse/?b=people">People</a></li>
          <li><a href="/browse/?b=organizations">Organizations</a></li>
          <li><a href="/browse/?b=places">Places</a></li>
          <li><a href="/browse/?b=decades">Decades</a></li>
          <li><a href="/browse/?b=archives">Archives</a></li>
      </ul>
    </section>

    <section class="portal-summary section">
        <h1>The BMRC Collections Portal - Your gateway to the Black Metropolis
        in Chicago and beyond</h1>

        <p>Discover the unique collections on Black experiences freely
available to you in libraries, museums, archives, and other organizations in
the Chicago area. Choose your path: search member institutions' collections
with keywords, browse a facet, like People or Topics, or click on one of the
boxes below: Curated Topic, online exhibit, or the "Try a Term" feature. Learn
more <a href="/about/">about the project</a> or <a href="/help/">consult our
research help</a>.</p>
    </section>

    <section class="featured-news portal-feature section">
        <div class="container is-fluid">
            <div class="columns">

                <div class="column has-text-centered is-one-third-tablet is-one-third-desktop">
                    <a href="/curated/">
                        <img alt="The FMO Press Conference held to announce
                                  FMO’s boycott of the new African American
                                  Studies Department, November 29, 1972" 
                             src="/static/img/curated_topics/black_studies.jpg"/>
                        <div class="header curated"><h2>Black Studies</h2></div>
                    </a>
                    <a href="/curated/">Explore all curated topics &gt;&gt;</a>
                </div>
          
                <div class="column has-text-centered is-one-third-tablet is-one-third-desktop">
                    <a href="#">
                        <img alt="" src="http://placekitten.com/500/300"/>
                        <div class="header exhibits"><h2>Activism</h2></div>
                    </a>
                    <a href="#">View all exhibits &gt;&gt;</a>
                </div>
          
                <div class="column has-text-centered is-one-third-tablet is-one-third-desktop">
                    <a href="/search/?f={{ discover_more_uri | urlencode }}"/>
                        <img alt="" src="/static/img/homepage_facet_images/{{ discover_more_facet }}.jpg"/>
                        <div class="header discover"><h2>{{ discover_more_title }}</h2></div>
                    </a>
                    <a href="/browse/?b={{ discover_more_facet }}">Discover more {{ discover_more_facet }} &gt;&gt;</a>
                </div>

            </div>
        </div>
    </section>


    <section class="featured-modules portal section">
        <div class="container">
            <div class="columns is-desktop is-variable is-8">

                <div class="column is-full-tablet is-three-fifths-desktop">
                    <div class="columns">
                        <div class="column is-narrow">
                            <div style="width: 6rem;">
                                <img alt="" class="is-square" src="/static/{{ member_spotlight_img }}" style="height: auto; width: 100%;"/>
                            </div>
                        </div>
                        <div class="column">
                            <h2>Member Highlight</h2>
                            <h3>{{ member_spotlight_title }}</h3>
                            {{ member_spotlight_html|safe }}
                            {% set u = 'https://bmrc.lib.uchicago.edu/archives/' + quote_plus(member_spotlight_title) %}
                            <a href="/search/?f={{ u|urlencode }}">View collections from {{ member_spotlight_title }}</a>
                        </div>
                    </div>
                </div>

                <div class="column is-full-tablet is-two-fifths-desktop">
                    <h2>About the BMRC</h2>
                    <p>The Black Metropolis Research Consortium (BMRC) is a Chicago-based membership association of libraries, universities, museums, community/arts organizations and other archival institutions. The BMRC’s mission is to connect all who seek to document, share, understand and preserve Black experiences.</p>
                    <p><b>It is the vision of the BMRC to be essential to promoting discovery, preservation, and use of Black historical collections.</b> Through consortial programs, the BMRC aids in expanding broad access to its members’ holdings of materials that document African American and African diasporic culture, history, and politics, with a specific focus on materials relating to Chicago.</p>
                    <a href="https://bmrc.lib.uchicago.edu/about/">Read more about the BMRC</a>
                </div>

            </div>
        </div>
    </section>

<!--   <section class="featured-news section">
    <div class="container">
        <h2>Explore BMRC</h2>
      <div class="columns is-desktop">

        <div class="column has-text-centered is-half-tablet is-one-quarter-desktop">
            <a href="#">
                <img src="http://placekitten.com/250/300"/>
                Beyond the Consortium
            </a>
        </div>
        <div class="column has-text-centered is-half-tablet is-one-quarter-desktop">
            <a href="https://bmrc.lib.uchicago.edu/resources/more-materials/">
                <img src="http://placekitten.com/250/350"/>
                More Collections Resources
            </a>
        </div>
        <div class="column has-text-centered is-half-tablet is-one-quarter-desktop">
            <a href="https://bmrc.lib.uchicago.edu/programs/color-curtain-processing-project/">
                <img src="http://placekitten.com/225/300"/>
                Backstory: Survey Initiative and Color Curtain Processing Project
            </a>
        </div>
        <div class="column has-text-centered is-half-tablet is-one-quarter-desktop">
            <a href="https://www.lib.uchicago.edu/collex/exhibits/black-metropolis-research-consortium-fifteen-years-preserving-and-documenting-black-history-and-culture-chicago/summer-short-term-fellowship-program/books-bmrc-fellows/">
                <img src="http://placekitten.com/250/325"/>
                Recent work by BMRC Fellows
            </a>
        </div>
  </div>
</div>
</section> -->
{% endblock %}
