{% extends "base.html" %}

{##########}
{# MACROS #}
{##########}

{% macro sidebar_facet(facet_name) %}
    {% set facet_name_active = "active-" + facet_name|lower %}
    {% set facet_name_more = "more-" + facet_name|lower %}
    {% if search_results[facet_name_active] or search_results[facet_name_more] %}
        <div class="facet" data-facet="{{ facet_name|lower }}">
            <h2>{{ facet_name }}</h2>
            <ul>
                  {% for f in search_results[facet_name_active] %}
                      <li class="active">{{ f[1] }} ({{ f[2] }})</li>
                  {% endfor %}
                  {% for f in search_results[facet_name_more] %}
                      <li><a href="/search/?{{ add_to_url_params(search_results, {'f': f[0]}) }}">{{ f[1] }} ({{ f[2] }})</a></li>
                  {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro active_facets(facet_name) %}
    {% set facet_name_active = "active-" + facet_name|lower %}
    {% for f in search_results[facet_name_active] %}
        <span class="tag is-success is-light">{{ f[1] }} ({{ f[2] }}) &nbsp; &nbsp; <a href="/search/?{{ remove_from_url_params(search_results, {'f': f[0]}) }}">x</a></span>
    {% endfor %}
{% endmacro %}

{###########}
{# CONTENT #}
{###########}

{% block content %}
<div class="container section browse-view">
    {% if search_results['total'] > 0 %}
        <div class="columns is-variable is-8" id="serp_content">
    
            <div class="column is-one-quarter browse-sidebar" id="facets" data-sidebar_view_less_facet_count="{{ sidebar_view_less_facet_count }}" data-sidebar_view_more_facet_count="{{ sidebar_view_more_facet_count }}">
                {{ sidebar_facet('Topics') }}
                {{ sidebar_facet('People') }}
                {{ sidebar_facet('Organizations') }}
                {{ sidebar_facet('Places') }}
                {{ sidebar_facet('Decades') }}
                {{ sidebar_facet('Archives') }}
            </div>
    
        <div class="column" id="search_results">
            <div id="results_header">
                {% if name %}
                    <div class="archivebox_serp">
                        <div class="archivebox_serp_image">
                            {% if archivebox_logo %}
                                <img src="/static{{ archivebox_logo }}"/>
                            {% endif %}
                        </div>
                        <div class="archivebox_serp_text">
                            <div class="archivebox_name">
                                <strong>
                                    {{ name }}
                                </strong>
                            </div>
                            {% if archivebox_address %}
                                <div class="archivebox_address">
                                    {{ archivebox_address|safe }}
                                </div>
                            {% endif %}
                            {% if archivebox_link %}
                                <div class="archivebox_link">
                                    {{ archivebox_link|safe }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if search_results['b'] == '' %}
                    <h1>Results 
                    {{ search_results['start'] + 1 }} 
                    to 
                    {% if search_results['stop'] == search_results['total'] %}
                        {{ search_results['total'] }}
                    {% else %}
                        {{ search_results['stop'] + 1 }} 
                    {% endif %}
                    of 
                    {{ search_results['total'] }}
                    </h1>
                {% endif %}
            </div>

            <div class="active-facets">
                {{ active_facets('Topics') }}
                {{ active_facets('People') }}
                {{ active_facets('Organizations') }}
                {{ active_facets('Places') }}
                {{ active_facets('Decades') }}
                {{ active_facets('Archives') }}
                {% if search_results['active-topics']|length +
                      search_results['active-people']|length +
                      search_results['active-organizations']|length +
                      search_results['active-places']|length +
                      search_results['active-decades']|length +
                      search_results['active-archives']|length > 0 %}
                    <span class="tag is-white">
                        <a href="/search/?{{ clear_facets_from_url_params(search_results) }}">clear facets</a>
                    </span>
                {% endif %}
            </div>

            {% include "search-sort.html" %}

            {% include "search-pager.html" %}

            {% for r in search_results['results'] %}
                <h3><a href="/view/?id={{ r['uri'] }}">{{ r['title'] }}</a></h3>
                <p class="result-description">{{ r['abstract'] }}</p>
                <p class="result-metadata"><span>Dates:</span> {{ r['date'] }} &nbsp; | &nbsp; <span>Extent:</span> {{ r['extent'] }}<br/>
                   {% set a = 'https://bmrc.lib.uchicago.edu/archives/' + quote_plus(r['archive']) %}
                   <span>Archives:</span> <a href="/search/?f={{ a|urlencode }}">{{ r['archive'] }}</a></p>
            {% endfor %}

            {% include "search-pager.html" %}
        </div>
    </div>
    {% else %}
        <div class="columns is-variable is-8" id="serp_content">
            <div class="column is-one-quarter"></div>
            <div class="column" id="search_results">
                <h1>There were no results for your query</h1>
                <p>Sorry, we couldn’t find any results for your search
                term(s). Please check your spelling and try again. If
                you need more help, check our <a href="/help/">Research
                Help page</a> or feel free to <a
                href="mailto:bmrc@uchicago.edu">contact us at
                bmrc@uchicago.edu</a>.</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
