{% extends "base.html" %}

{##########}
{# MACROS #}
{##########}

{% macro sidebar_facet(facet_name) %}
    {% set facet_name_active = "active-" + facet_name|lower %}
    {% set facet_name_more = "more-" + facet_name|lower %}
    {% if search_results[facet_name_active] or search_results[facet_name_more] %}
        <div class="facet" data-facet="{{ facet_name|lower }}">
            <h2><!-- <a href="/search/?b=https%3A%2F%2Fbmrc.lib.uchicago.edu%2F{{ facet_name }}%2F"> -->{{ facet_name }}<!-- </a> --></h2>
            <ul>
                  {% for f in search_results[facet_name_active] %}
                      <li class="active">{{ f[1] }} ({{ f[2] }})</li>
                  {% endfor %}
                  {% for f in search_results[facet_name_more] %}
                      <li><a href="/search/?{{ add_to_url_params(search_results, {'f': f[0]}) }}">{{ f[1] }} ({{ f[2] }})</a></li>
                  {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro active_facets(facet_name) %}
    {% set facet_name_active = "active-" + facet_name|lower %}
    {% for f in search_results[facet_name_active] %}
        <span class="tag is-success is-light">{{ f[1] }} ({{ f[2] }}) &nbsp; &nbsp; <a href="/search/?{{ remove_from_url_params(search_results, {'f': f[0]}) }}">x</a></span>
    {% endfor %}
{% endmacro %}

{###########}
{# CONTENT #}
{###########}


{% block content %}
<div class="container section browse-view">
    <div class="columns is-variable is-8" id="serp_content">

        <div class="column is-one-quarter browse-sidebar" id="facets" data-sidebar_view_less_facet_count="{{ sidebar_view_less_facet_count }}" data-sidebar_view_more_facet_count="{{ sidebar_view_more_facet_count }}">
            {{ sidebar_facet('Topics') }}
            {{ sidebar_facet('People') }}
            {{ sidebar_facet('Organizations') }}
            {{ sidebar_facet('Places') }}
            {{ sidebar_facet('Decades') }}
            {{ sidebar_facet('Archives') }}
        </div>

    <div class="column" id="search_results">
            <div id="results_header">
                {% if search_results['b'] == '' %}
                    <h1>Results 
                    {{ search_results['start'] + 1 }} 
                    to 
                    {% if search_results['stop'] == search_results['total'] %}
                        {{ search_results['total'] }}
                    {% else %}
                        {{ search_results['stop'] + 1 }} 
                    {% endif %}
                    of 
                    {{ search_results['total'] }}
                    </h1>
                {% endif %}
            </div>

            <div class="active-facets">
                {{ active_facets('Topics') }}
                {{ active_facets('People') }}
                {{ active_facets('Organizations') }}
                {{ active_facets('Places') }}
                {{ active_facets('Decades') }}
                {{ active_facets('Archives') }}
            </div>

                {% include "search-sort.html" %}

                {% include "search-pager.html" %}

                {% for r in search_results['results'] %}
                    <h3><a href="/view/?id={{ r['uri'] }}">{{ r['title'] }}</a></h3>
                    <p class="result-description">{{ r['abstract'] }}</p>
                    <p class="result-metadata"><span>Dates:</span> {{ r['date'] }} &nbsp; | &nbsp; <span>Extent:</span> {{ r['extent'] }}<br/>
                       <span>Archives:</span> <a href="#">{{ r['archive'] }}</a></p>
                {% endfor %}

                {% include "search-pager.html" %}
            
        </div>
    </div>
</div>
{% endblock %}
