{% extends "base.html" %}

{% block content %}
<div class="container section browse-view">
    <div class="columns is-variable is-8">

      <div class="column is-narrow browse-sidebar">
        {{ navigation_html|safe }}
      </div>
  
      <div class="column">
        {{ findingaid_html|safe }}
      </div>
  
    </div>   <!-- // END columns -->
</div>  <!-- // END container -->

<style>
dd {
  padding-left: 1em;
}
.ead_dsc .ead_did {
  border-bottom: 1px solid #ccc;
  display: grid;
}
.ead_dsc .ead_did_1 {
  grid-template-columns: auto;
}
.ead_dsc .ead_did_2 {
  grid-template-columns: 6em auto;
}
.ead_dsc .ead_did_3 {
  grid-template-columns: 6em 6em auto;
}
.ead_dsc .ead_did_4 {
  grid-template-columns: 6em 6em 6em auto;
}
.ead_dsc .ead_did_5 {
  grid-template-columns: 6em 6em 6em 6em auto;
}
.ead_dsc .ead_did_6 {
  grid-template-columns: 6em 6em 6em 6em 6em auto;
}
</style>
{% endblock %}
